[Unit]
Description=hive-cache-ip
Requires=network-online.target

[Service]
Type=simple
ExecStart=/hive/bin/cache-hive-ip

[Install]
WantedBy=multi-user.target
