[Unit]
Description=Hive
After=network-online.target multi-user.target
Requires=network-online.target

[Service]
Type=forking
#TimeoutStartSec=infinity
ExecStart=/hive/bin/hive
Environment="LD_LIBRARY_PATH=/hive/lib"
ExecStartPre=/bin/sleep 30

[Install]
WantedBy=multi-user.target
